{% extends "base.html" %}
{% block page_title%}What beers are in {{suburb_name}} {% endblock %}
{% block extra_css %}
    <style type="text/css">
      #map-canvas { height: 550px }
      #map-canvas img { max-width:none; }
    </style>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNJJnj220pWaqfOwPM1XNEkh5S7pLiRUI&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-37.7722, 144.9994),
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var markers = Array();
        var info_windows = Array();

        var latlong;
        var marker;
        var beers;
        var infowindow = new google.maps.InfoWindow({
                content: "holding"
            });
        {% for venue in venues %}
        latlong = new google.maps.LatLng({{venue.location.lat}}, {{venue.location.lng}})
        marker = new google.maps.Marker({
            position: latlong,
            title: "{{ venue.name }}"
        });
        beers = "{% for checkin in venue.checkins %}{{checkin.beer.beer_name}}</br>{% endfor %}"
        marker.beers = beers;
        markers.push(marker);
        marker.setMap(map);
        {% endfor %}
        for (var i=0; i < markers.length; i++){
          marker = markers[i];
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(this.beers);
            infowindow.open(map, this);
          });
        }
      }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
{% block content %}
<div id="search">
    <form action={% url "map-search" %}>
       Beers in: <input type="search" name="suburb_name" value="{{suburb_name}}"><br>
    <input type="submit" value="submit">
  </form>
  {% for venue in venues %}
  {{venue.name}}
  {% endfor %}
</div>
<div id="map-canvas"/>
{% endblock %}
